@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'radar';
    font-style: normal;
    font-weight: normal;
    src: url('/radar.ttf') format('truetype');
}

nav.main {
    background-color: #037;
    border-radius: 5px;
    color: #fff;
}

nav.main ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav.main ul li {
    float: left;
}

nav.main a {
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
}

nav.main a:hover {
    background-color: #00f;
}

.input {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #1961cb;
    margin-right: 10px;
}

.short-input {
    max-width: 100px;
}
.larger {
    width: 250px;
}

.input:focus {
    background-color: rgb(248, 255, 174) !important;
    outline: none;
}

label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 75px;
}

.button {
    background-color: #8ad0eb;
    border-radius: 5px;
    box-shadow: 0 0 5px #121515;
    padding: 5px 10px;
    animation: hue-bounce 5s infinite linear;
}

.button-small {
    background-color: #8ad0eb;
    border-radius: 3px;
    box-shadow: 0 0 5px #121515;
    font-size: .9e;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .9em;
    margin-left: 15px;
}

.store-description {
    font-size: 0.9em;
    font-style: italic;
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.background-image {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    animation: hue-rotate 10s infinite linear;
    background-size: cover;
    background: #000 url('/background3.png') no-repeat center center fixed;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}

.logo {
    animation: hue-rotate 10s infinite linear;
    color: #0080ff4d;
    display: block;
    font-family: 'radar';
    font-size: 3em;
    font-weight: bold;
    left: 15px;
    position: absolute;
    text-shadow: -2px -2px 0 #80ff4d,
        2px -2px 0 #80ff4d,
        -2px 2px 0 #80ff4d,
        2px 2px 0 #80ff4d;
    top: -33px;
}

.the-panel {
    border: 2px solid #555;
    filter: drop-shadow(5px 5px 5px #666);
    position: relative;
    min-width: 700px;
}

.rotating-line {
    animation: rotate 10s linear infinite;
    background-color: #80ff4d;
    height: 100vh;
    left: 51.1%;
    position: absolute;
    top: 46.5%;
    transform-origin: center top;
    width: 5px;
    z-index: -1;
}

.rotating-line::before,
.rotating-line::after {
    background-color: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: inherit;
    width: 100%;
    z-index: -1;
}

.rotating-line::before {
    animation: rotate 9.02s linear 0.02s infinite,
               hue-rotate 9.02s infinite linear;
    opacity: 0.5;
}

.rotating-line::after {
    animation: rotate 10.1s linear 0.1s infinite,
               hue-rotate 10.1s infinite linear;
    opacity: 0.25;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.initials {
    animation: hue-rotate 10s infinite linear;
    background: rgb(141, 141, 2);
    border-radius: 12px;
    border: 1px solid #888;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin-right: 15px;
    margin-top: 5px;
    padding-top: 2px;
    text-align: center;
    
}

nav input.search {
    background-color: #fff !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    background: auto !important;
    border: none !important;
    color: #000;
    font-size: 0.8em;
    margin-right: 15px;
    padding-left: 25px;
    padding-right: 25px !important;
    position: relative;
    top: 4px;
    width: 150px;
}

@keyframes hue-bounce {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(40deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

.change-hue {
    animation: hue-bounce 5s infinite linear;
}

.row {
    padding-bottom: 5px;
}

.right {
    float: right !important;
}

.heading {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #1d4f93;
    color: #fff;
    padding-left: 5px;
}

.bold-text {
    font-weight: bold;
}

.box {
    background-color: rgba(240,240,255,.5);
    border: 1px solid #037;
    border-radius: 5px;
    box-shadow: 0 0 5px #037;
    margin-top: 5px;
    margin-bottom: 10px;
}

html {
    background-color: #000;
}

.edit-store-button {
    position: absolute;
    right: 5px;
    top: 35px;
}

.container {
    position: relative;
    padding-bottom: 10px;
}

.indent {
    padding-left: 5px;
    margin-left: 5px;
}

.store-name {
    font-weight: bold;
}

.right-indent {
    margin-right: 5px;
}

.cancel {
    background-color: #ffffc3;
    float: right;
    margin-right: 5px;
}

.left {
    float: left;
}

.container .container {
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    position: relative;
}

.subheading {
    font-size: .9em;
    font-weight: bold;
    background-color: #1d6e93 !important;
}

.green {
    background-color: #1d934e !important;
}

.green-border {
    border: 1px solid #1d934e !important;
}

.top-indent {
    margin-top: 10px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.orange {
    background-color: #93791d !important;
}

.gray {
    background-color: #666 !important;
}

.light-gray {
    background-color: #333 !important;
}

.panel-top-margin {
    margin-top: 25px;
}

.panel-bottom-margin {
    margin-bottom: 25px;
}

.bluebg {
    background-color: #96c0fb !important;
}

.greenbg {
    background-color: #aaffda !important;
}

.edit-store {
    margin-bottom: 25px;
}

.create-store {
    
}

.no-shadow {
    box-shadow: none !important;
}

.product-form {
    border: 1px solid #888;
}

.new-product-container, .new-product-container * {
    max-width: 400px;
}

.new-product-pane input,
.new-product-pane textarea {
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}

.product-submit-margin-top {
    margin-top: 10px;
}

.product {
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    width: 300px;
    margin-left: 5px;
    margin-right: 15px;
    background-color: rgb(206, 255, 253);
}

.all-products {
    flex-wrap: wrap;
    display: flex;
    max-width: 670px;
    margin-left: 30px;
}
.product-name, .track-title {
    font-weight: bold;
}

.product-description, .track-description {
    font-style: italic;
}

.delete-product-button {
    float: right;
}

.report-icon {
    float: right;
}

.clear {
    clear: both;
}

.product-box {
    text-align: center;
}

.div-center {
    margin-left: 150px;
    margin-right: auto;
}

.order {
    border: 1px solid #888;
    margin-right: 10px;
}

.header {
    font-weight: bold;
}

.order-date,
.order-product-name,
.order-quantity,
.order-total {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    vertical-align: top;
}

.order-product-name {
    width: 250px;
}

.cancel-order {
    display: inline-block;
    height: 25px;
    padding-top: 0;
    align-content: right;
}
.payment-form {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 30vh;
  }

  .left-column, .right-column {
    padding: 20px;
  }
  
  .left-column {
    background-color: #f0f0f0;
  }
  
  .right-column {
    background-color: #e0e0e0;
  }